@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-Thin.eot');
    src: local('BigCity Grotesque Pro Thin'), local('BigCityGrotesquePro-Thin'),
        url('BigCityGrotesquePro-Thin.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-Thin.woff2') format('woff2'),
        url('BigCityGrotesquePro-Thin.woff') format('woff'),
        url('BigCityGrotesquePro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-BoldIta.eot');
    src: local('BigCity Grotesque Pro Bold Ita'), local('BigCityGrotesquePro-BoldIta'),
        url('BigCityGrotesquePro-BoldIta.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-BoldIta.woff2') format('woff2'),
        url('BigCityGrotesquePro-BoldIta.woff') format('woff'),
        url('BigCityGrotesquePro-BoldIta.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-ExtraBold.eot');
    src: local('BigCity Grotesque Pro ExtBd'), local('BigCityGrotesquePro-ExtraBold'),
        url('BigCityGrotesquePro-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-ExtraBold.woff2') format('woff2'),
        url('BigCityGrotesquePro-ExtraBold.woff') format('woff'),
        url('BigCityGrotesquePro-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-Light.eot');
    src: local('BigCity Grotesque Pro Light'), local('BigCityGrotesquePro-Light'),
        url('BigCityGrotesquePro-Light.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-Light.woff2') format('woff2'),
        url('BigCityGrotesquePro-Light.woff') format('woff'),
        url('BigCityGrotesquePro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-MedIta.eot');
    src: local('BigCity Grotesque Pro Med Ita'), local('BigCityGrotesquePro-MedIta'),
        url('BigCityGrotesquePro-MedIta.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-MedIta.woff2') format('woff2'),
        url('BigCityGrotesquePro-MedIta.woff') format('woff'),
        url('BigCityGrotesquePro-MedIta.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-Medium.eot');
    src: local('BigCity Grotesque Pro Medium'), local('BigCityGrotesquePro-Medium'),
        url('BigCityGrotesquePro-Medium.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-Medium.woff2') format('woff2'),
        url('BigCityGrotesquePro-Medium.woff') format('woff'),
        url('BigCityGrotesquePro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-Black.eot');
    src: local('BigCity Grotesque Pro Black'), local('BigCityGrotesquePro-Black'),
        url('BigCityGrotesquePro-Black.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-Black.woff2') format('woff2'),
        url('BigCityGrotesquePro-Black.woff') format('woff'),
        url('BigCityGrotesquePro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-ThinIta.eot');
    src: local('BigCity Grotesque Pro Thin Ita'), local('BigCityGrotesquePro-ThinIta'),
        url('BigCityGrotesquePro-ThinIta.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-ThinIta.woff2') format('woff2'),
        url('BigCityGrotesquePro-ThinIta.woff') format('woff'),
        url('BigCityGrotesquePro-ThinIta.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-BlackIta.eot');
    src: local('BigCity Grotesque Pro Black Ita'), local('BigCityGrotesquePro-BlackIta'),
        url('BigCityGrotesquePro-BlackIta.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-BlackIta.woff2') format('woff2'),
        url('BigCityGrotesquePro-BlackIta.woff') format('woff'),
        url('BigCityGrotesquePro-BlackIta.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-ExtLtIta.eot');
    src: local('BigCity Grotesque Pro ExtLt Ita'), local('BigCityGrotesquePro-ExtLtIta'),
        url('BigCityGrotesquePro-ExtLtIta.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-ExtLtIta.woff2') format('woff2'),
        url('BigCityGrotesquePro-ExtLtIta.woff') format('woff'),
        url('BigCityGrotesquePro-ExtLtIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-Bold.eot');
    src: local('BigCity Grotesque Pro Bold'), local('BigCityGrotesquePro-Bold'),
        url('BigCityGrotesquePro-Bold.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-Bold.woff2') format('woff2'),
        url('BigCityGrotesquePro-Bold.woff') format('woff'),
        url('BigCityGrotesquePro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-ExtBdIta.eot');
    src: local('BigCity Grotesque Pro ExtBd Ita'), local('BigCityGrotesquePro-ExtBdIta'),
        url('BigCityGrotesquePro-ExtBdIta.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-ExtBdIta.woff2') format('woff2'),
        url('BigCityGrotesquePro-ExtBdIta.woff') format('woff'),
        url('BigCityGrotesquePro-ExtBdIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-ExtLt.eot');
    src: local('BigCity Grotesque Pro ExtLt'), local('BigCityGrotesquePro-ExtLt'),
        url('BigCityGrotesquePro-ExtLt.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-ExtLt.woff2') format('woff2'),
        url('BigCityGrotesquePro-ExtLt.woff') format('woff'),
        url('BigCityGrotesquePro-ExtLt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-Regular.eot');
    src: local('BigCity Grotesque Pro Regular'), local('BigCityGrotesquePro-Regular'),
        url('BigCityGrotesquePro-Regular.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-Regular.woff2') format('woff2'),
        url('BigCityGrotesquePro-Regular.woff') format('woff'),
        url('BigCityGrotesquePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-LightIta.eot');
    src: local('BigCity Grotesque Pro Light Ita'), local('BigCityGrotesquePro-LightIta'),
        url('BigCityGrotesquePro-LightIta.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-LightIta.woff2') format('woff2'),
        url('BigCityGrotesquePro-LightIta.woff') format('woff'),
        url('BigCityGrotesquePro-LightIta.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-Italic.eot');
    src: local('BigCity Grotesque Pro Italic'), local('BigCityGrotesquePro-Italic'),
        url('BigCityGrotesquePro-Italic.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-Italic.woff2') format('woff2'),
        url('BigCityGrotesquePro-Italic.woff') format('woff'),
        url('BigCityGrotesquePro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-NewsIta.eot');
    src: local('BigCity Grotesque Pro News Ita'), local('BigCityGrotesquePro-NewsIta'),
        url('BigCityGrotesquePro-NewsIta.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-NewsIta.woff2') format('woff2'),
        url('BigCityGrotesquePro-NewsIta.woff') format('woff'),
        url('BigCityGrotesquePro-NewsIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('BigCityGrotesquePro-News.eot');
    src: local('BigCity Grotesque Pro News'), local('BigCityGrotesquePro-News'),
        url('BigCityGrotesquePro-News.eot?#iefix') format('embedded-opentype'),
        url('BigCityGrotesquePro-News.woff2') format('woff2'),
        url('BigCityGrotesquePro-News.woff') format('woff'),
        url('BigCityGrotesquePro-News.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

